* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


body {
    height: 100vh;
    background: #D03D56;
    display: flex;
    justify-content: center;
    align-items: center;
}


.login-container {
    width: 350px;
    padding: 30px 40px;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 15px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    color: #fff;
    position: relative;
}


.login-container::before {
    content: "";
    position: absolute;
    top: -60px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    background: radial-gradient(ellipse at center, rgba(255,255,255,0.3) 0%, transparent 70%);
    filter: blur(15px);
    z-index: -1;
}


.login-container h2 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 24px;
}


.input-box {
    position: relative;
    margin-bottom: 20px;
}

.input-box input {
    width: 100%;
    padding: 12px 40px 12px 15px;
    background: #fff;
    border: none;
    border-radius: 30px;
    color: #75767B;
    outline: none;
}

.input-box input::placeholder{
    color:#75767B;
}
.input-box i {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #000;
}


.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    margin-bottom: 20px;
}

.options input {
    margin-right: 5px;
}


.login-btn {
    width: 100%;
    padding: 12px;
    background: #fff;
    color: #000;
    font-weight: bold;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background 0.3s;
}

.login-btn:hover {
    background: #eaeaea;
}


.register-link {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
}

.register-link a {
    color: #191970;
    text-decoration: underline;
}